In [23]:
import pandas as pd
import numpy as np

In [24]:
data_path = "../data/capitaltrafficplus_202112.csv.gz"
feature_list = ['speed_typea']

In [25]:
df = pd.read_csv(data_path)
df

,gps_timestamp,linkid,speed_typea,accident_flag,real_accident_flag,weekdaytime,speed_typea_y
0,2021-12-01 00:00:00,83585420,73.075286,0,0,0.285998,60.062440
1,2021-12-01 00:00:00,83585485,55.963542,0,0,0.285998,40.686778
2,2021-12-01 00:00:00,83585609,65.500713,0,0,0.285998,73.789058
3,2021-12-01 00:00:00,83585658,56.308003,0,0,0.285998,56.951374
4,2021-12-01 00:00:00,83585806,61.648889,0,0,0.285998,68.865848
...,...,...,...,...,...,...,...
12682219,2021-12-31 23:50:00,117632419,35.456000,0,0,0.714002,43.473843
12682220,2021-12-31 23:50:00,118415091,52.710000,0,0,0.714002,59.418333
12682221,2021-12-31 23:50:00,118415100,56.950701,0,0,0.714002,63.833210
12682222,2021-12-31 23:50:00,118770411,84.392631,0,0,0.714002,81.172458
12682223,2021-12-31 23:50:00,118770567,46.492500,0,0,0.714002,53.173591

In [30]:
tmp = df[df.gps_timestamp=='2021-12-02 00:00:00']
tmp

,gps_timestamp,linkid,speed_typea,accident_flag,real_accident_flag,weekdaytime,speed_typea_y
409104,2021-12-02 00:00:00,83585420,73.075286,0,0,0.428997,60.062440
409105,2021-12-02 00:00:00,83585485,55.963542,0,0,0.428997,40.686778
409106,2021-12-02 00:00:00,83585609,65.500713,0,0,0.428997,77.441677
409107,2021-12-02 00:00:00,83585658,56.308003,0,0,0.428997,56.038848
409108,2021-12-02 00:00:00,83585806,66.556065,0,0,0.428997,70.264696
...,...,...,...,...,...,...,...
411940,2021-12-02 00:00:00,117632419,46.124286,0,0,0.428997,46.237426
411941,2021-12-02 00:00:00,118415091,61.604167,0,0,0.428997,52.744583
411942,2021-12-02 00:00:00,118415100,63.457056,0,0,0.428997,60.269177
411943,2021-12-02 00:00:00,118770411,82.290991,0,0,0.428997,80.101927
411944,2021-12-02 00:00:00,118770567,47.983633,0,0,0.428997,67.403694

In [31]:
N_link = 2841
data = df[feature_list].values
print(data.shape)
data = data.reshape(-1, N_link, data.shape[-1])
print(data.shape)

(12682224, 1)
(4464, 2841, 1)

In [34]:
np.array_equal(data[144, :, 0], tmp['speed_typea'].values)

True